@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$drag-handle-width: 15px;

#forien-ammo-swapper {
  z-index: 70;
  position: absolute;
  //bottom: 10px;
  //left: 850px;
  min-width: 140px;
  height: 52px;
  margin: 0;
  padding: 3px 6px 3px 3px;
  border: 1px solid #000;
  display: flex;

  &.empty {
    visibility: hidden;
  }

  .drag-handle {
    display: none;
    background: url(/ui/denim075.png) repeat;
    width: $drag-handle-width;
    right: -$drag-handle-width;
    margin: 0;
    position: absolute;
    border-radius: 0 5px 5px 0;
    z-index: 60;
    border: 1px solid black;
    border-left: none;

    // so border aligns with the parent
    height: calc(100% + 2px);
    top: -1px;


    align-items: center;
    justify-items: center;

    i {
      width: 100%;
      text-align: center;
      font-size: var(--font-size-11);
      font-weight: 300;
    }
  }

  &.draggable-enabled {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    .drag-handle {
      display: flex;
    }
  }

  .weapon {
    height: 44px;
    display: flex;
    position: relative;

    .image {
      height: 44px;
      width: 44px;
      position: relative;

      .equipped {
        position: absolute;
        bottom: 5px;
        right: 5px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: var(--font-size-11);
        font-weight: 600;
        color: #ffddaa;
      }
    }

    .name {
      font-family: Lato, Signika, sans-serif;
    }

    .info {
      display: flex;
      flex-direction: column;
      margin-left: 3px;

      > .name {
        font-variant: small-caps;
        font-size: 16px;
      }

      .selected {
        height: 25px;
        display: flex;
        align-items: center;

        .name {
          margin-left: 3px;
          white-space: nowrap;
        }

        .image {
          height: 25px;
          width: 25px;
        }

        &.none {
          font-style: italic;
          font-family: Lato, Signika, sans-serif;
          font-size: 13px;
        }
      }
    }

    .ammunitions {
      position: absolute;
      bottom: 52px;
      border: 1px solid #000;
      background: url(/ui/denim075.png) repeat;
      border-radius: 5px;
      box-shadow: 0 0 4px #000;
      padding: 3px;
      left: 44px;
      width: max-content;

      .ammo {
        height: 44px;
        display: flex;
        align-items: center;

        .name {
          margin: 0 3px;
          white-space: nowrap;
        }

        &:hover {
          background: #aaaaaa88;
        }
      }

      .ammo:not(:first-child) {
        margin-top: 4px;
      }
    }
  }

  .weapon:not(:first-child) {
    margin-left: 12px;
  }
}
